@font-face {
  font-family: Cardo;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/cardo/cardo_n7.d02b7fb13fc5aac90b5334d99f92017ede2099f6.woff2?h1=b3JpZ2lubWFwcy5jb20&hmac=3a85de5e02792fe1d74b25da9e020c5907593e0bf2bc8b72fd517181d210ff60") format("woff2"),
       url("https://fonts.shopifycdn.com/cardo/cardo_n7.2bbbb0d9819b97cd025c56641e4eb6435f1c07d0.woff?h1=b3JpZ2lubWFwcy5jb20&hmac=1a943f291d36e3be66a968700825762f64fedfc0ebe778e1834c490d9c410c2b") format("woff");
}

@font-face {
  font-family: "Harmonia Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/harmonia_sans/harmoniasans_n4.73cf0589f7839ec88463a09f5335a2885467ed0c.woff2?h1=b3JpZ2lubWFwcy5jb20&hmac=e67e6d9e9a974e562d566fbaf21549e8c10d6d66b5db17c8a51e122d80b2487e") format("woff2"),
       url("https://fonts.shopifycdn.com/harmonia_sans/harmoniasans_n4.1c5276ef69780b63aa8f0ba7897fb3bc87270bb0.woff?h1=b3JpZ2lubWFwcy5jb20&hmac=475b9f1ce8c8c99b1c3592f94f14be8031205eae79685ed999407552dd6591a3") format("woff");
}





  @font-face {
  font-family: "Harmonia Sans";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/harmonia_sans/harmoniasans_n6.dd3d6084d29e4754e80fe6aa1c0e37f511474ffa.woff2?h1=b3JpZ2lubWFwcy5jb20&hmac=5a40a3a01d7b0f860faa354ceea6cef29c31b4e206725c0b1e276c1fc397a0ad") format("woff2"),
       url("https://fonts.shopifycdn.com/harmonia_sans/harmoniasans_n6.b0d6879084373b473d0c7a4c3d54ece9c289cbb4.woff?h1=b3JpZ2lubWFwcy5jb20&hmac=075e17652fc8164476e67870696f5cee3c6d40fcdb01d24e632367d2cae145f4") format("woff");
}







  @font-face {
  font-family: "Harmonia Sans";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/harmonia_sans/harmoniasans_i4.ccbfea79fd847e76d49925a923aa89064359e629.woff2?h1=b3JpZ2lubWFwcy5jb20&hmac=a6f4f7aff80f17ae4e17cc22a5510a69687416eb3d02a814fd76ba1d136718c1") format("woff2"),
       url("https://fonts.shopifycdn.com/harmonia_sans/harmoniasans_i4.e5c05a10aacfb8cc7fdf892df8dba937a214e6e7.woff?h1=b3JpZ2lubWFwcy5jb20&hmac=409e533f4c4149c860bc28ef20969cef82c8086b5c65d9dc5fc9012932792e9d") format("woff");
}




  @font-face {
  font-family: "Harmonia Sans";
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/harmonia_sans/harmoniasans_i6.d520474355816f56169b3a79baa14d2c479da2ba.woff2?h1=b3JpZ2lubWFwcy5jb20&hmac=ba4535ccdeb0bb98ddcdf4a0d0727227e4b317d119b5c92108799aec6b763831") format("woff2"),
       url("https://fonts.shopifycdn.com/harmonia_sans/harmoniasans_i6.5ea0fa072a0601a91bbd7e0301549f9159a09ada.woff?h1=b3JpZ2lubWFwcy5jb20&hmac=9a3410c750e08b62f2ebd8e3dedb6a39933d63eb31e73ca645ba8b7e95098d15") format("woff");
}

